# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# For Datura to set persist.sys.global.cleartext
set_prop(platform_app, system_exported_cleartext_prop)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow FOD HAL service to be found
hal_client_domain(platform_app, hal_lineage_fod)
